<div class="center jumbotron">
  <div class="home-content">
    <h1>Welcome to Thoughtful Blogs</h1>
    <p> This a demo blogging application I'm creating to practice Ruby on Rails</p>
    <%= link_to "Sign Up", sign_up_path, class: "btn btn-success btn-lg btn-xlarge" %>
    <%= link_to "Sign In", login_path, class: "btn btn-success btn-lg btn-xlarge" %>
  </div>
</div>
